@model Customer
@{
    ViewData["Title"] = " DeleteCustomer";
}


<h2 class="text-center"> Voulez vous vraiment supprimer le client ?</h2>


<form method="post" style="width:75%;margin:auto">
    <input asp-for="idCustomer" hidden>
    <div class="mb-3">
        <label asp-for="lastname"></label>
        <input asp-for="lastname" class="form-control" disabled/>
    </div>
    <div class="mb-3">
        <label asp-for="firstname"></label>
        <input asp-for="firstname" class="form-control" disabled>
    </div>
    <div class="text-center m-4 p-2">
        <button class="btn btn-danger" style="width:100px">Supprimer</button>
        <a class="btn btn-secondary" asp-controller="Customer" asp-action="ListCustomers">Revenir à la liste des clients</a>
    </div>
</form>